%section#description
	.container
		.row
			.col-sm-8.col-sm-offset-2
				%h2 Contact Us
			= form_tag send_contact_info_path, method: :post do
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						= text_field_tag :first_name, '', autofocus: true, required: true,  class: 'input_field input_field-isao'
						= label_tag :first_name, '', class: 'input_label input_label-isao', 'data-content' => 'First Name*'  do
							%span.input_label-content.input_label-content-isao First Name*
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						= text_field_tag :last_name, '', required: true, class: 'input_field input_field-isao'
						= label_tag :last_name, '', class: 'input_label input_label-isao', 'data-content' => 'Last Name*'  do
							%span.input_label-content.input_label-content-isao Last Name*
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						= text_field_tag :organization_name, '', autocomplete: 'off', required: true, class: 'input_field input_field-isao'
						= label_tag :organization_name, '', class: 'input_label input_label-isao', 'data-content' => 'Organization Name*'  do
							%span.input_label-content.input_label-content-isao Organization Name*
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						= text_field_tag :title, '', autocomplete: 'off', required: true, class: 'input_field input_field-isao'
						= label_tag :title, '', class: 'input_label input_label-isao', 'data-content' => 'Title*'  do
							%span.input_label-content.input_label-content-isao Title*
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						= text_field_tag :email, '', required: true, class: 'input_field input_field-isao'
						= label_tag :email, '', class: 'input_label input_label-isao', 'data-content' => 'Email*'  do
							%span.input_label-content.input_label-content-isao Email*
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						= text_field_tag :phone_number, '', required: true, class: 'input_field input_field-isao phone-input'
						= label_tag :phone_number, '', class: 'input_label input_label-isao', 'data-content' => 'Phone Number*'  do
							%span.input_label-content.input_label-content-isao Phone Number*
				.col-sm-8.col-sm-offset-2
					.input.input-isao
						.dropdown-bg.dropdown-arrow
							= select_tag :contact_reason, "<option>Schedule a demo</option><option>Receive more information about the company</option><option>Other</option>".html_safe, class: 'selectpickeroverride form-control dropdown-lg'
						= label_tag :contact_reason, required: true, class: 'input_label input_label-isao', 'data-content' => 'I want to...*'  do
							%span.input_label-content.input_label-content-isao I want to...*
				.col-sm-8.col-sm-offset-2
					= submit_tag "SEND", class: "btn send"
