%p A user is requesting information from HealthEngine
  
%p Here is the info from the user:

%ul
  %li First Name: #{@params[:first_name]}
  %li Last Name: #{@params[:last_name]}
  %li Organization: #{@params[:organization_name]}
  %li Title: #{@params[:title]}
  %li Email: #{@params[:email]}
  %li Phone Number: #{@params[:phone_number]}
  %li Contact Reason: #{@params[:contact_reason]}
  
